.news_item_card {
  font-family: "Tiro Bangla", serif;
}

.news_item_card img {
  height: 200px;
}
.news_item_card h3 {
  height: 100px;
  font-size: 16px;
  font-weight: bold;
}
.news_item_card p {
  font-size: 14px;
  height: 150px;
}
.news_source {
  font-size: 14px;
}

.loading_img {
  width: 100px;
  height: 100px;
}
